
/* Encabezado */
.azul-oscuro{
    background-color: #162463;
    color: white;
    padding: 3px;
}

.azul-claro{
    background-color: #3E5B7C;
    color: white;
    padding: 25px;
    border: 2px white;
    margin: 0%;
}

.fecha{
    font-size: 15px;
    color: white;
}
.contenedor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color:#162463;
    padding: 3px;
}

.btn{
    text-decoration: none;
    color: #162463;
}

h2 {
    color: #162463;
    margin-bottom: 0px;
}

/* NOTICIA 1 */

.contenedor-noticia {
    display: flex; /* Modelo de caja*/
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px; 
}

.imagen-noticia {
    flex: 1; 
}

.imagen-noticia img {
    width: 750px; 
    height: 550px; 
}

.texto-noticia {
    flex: 2; /*Doble espacio entre elementos*/
    padding: 0 20px; /*agregar espacio dentro de los bordes*/
    text-align: justify;
}

/* NOTICIA 2 */

video {
    width: 550px;
    height: 550px;
    margin-top: 0px;

}

.contenedor-vtexto {
   text-align: center;
}

