/* VARIABLES */
:root {
    --letra: Arial, "Helvetica Neue", Helvetica, sans-serif;
    --Azul-Oscuro: #10195D;
    --blanco: white; 
}

div {
    text-align: center;
    padding: 20px;

}

.color-div {
    border: 3px solid var(--Azul-Oscuro);
    padding: 10px;
    margin: 100px 300px 100px 300px;

}


/* ------------  Sección de logo con titulo------------- */
h1 {
    font-family: var(--letra);
}

.cont-titulo {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.img-auto {
    margin-right: 15px;
    width: 50px;
    height: 60px;
}

/* -----------------  Sección de Negrita --------------- */

.negrita {
    font-weight: bold;
}


/* ------------ Sección de Username y Password---------- */

h2 {
    font-size: small;
    font-weight: normal;
    margin-right: 110px ;
    font-family: var(--letra);
}

/* -----------------  Sección de Links y Parrafo---------------- */

p {
    margin-top: 20px;
}
a{
    color: var(--Azul-Oscuro);
}

/* -----------------  Sección de Botón ---------------- */

button{
    background-color: var(--Azul-Oscuro);
    color: var(--blanco) ;
    border: 0px;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    margin-top: 10px;
}

button:hover {
    background-color: var(--blanco);
    color:var(--Azul-Oscuro);
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0 0 20px 0 var(--Azul-Oscuro);
}

input {
    border-radius: 5px;
    padding: 6px;
    border-color: var(--Azul-Oscuro);
}

